body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
margin: 20px auto;
width: 40%;
height: 10vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  width: 60%;
  background-color: burlywood;
}

.createTaskBtn, .deleteTaskBtn {
  width: 100px;
  height: 30px;
  margin: 10px;
  background-color: brown;
  border-radius: 5px;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: antiquewhite;
  padding: 10px;
}


































































  justify-content: center;
  align-items: center;
}

